---
// 絶対パスで
// 画像はsrc/pages内の各ディレクトリにimagesフォルダを作成する
import Layout from "@/layouts/Layout.astro";
import "../../scss/styles.scss";
const title = "";
const description = "";
const og_image = "";
import Carousel from '@/components/Carousel.astro'
import TournamentComponent from '../../components/Tournament .astro'
import IventComponent from '../../components/Ivent.astro'
---



<Layout title={title} , description={description} og_image={og_image}>
	<main>

		<section id="top" class="p-top">
			<div>
				<Carousel />
				<div class="p-top-mail">
					<p class="p-top-mail-content">お問合せはこちら</p>
				</div>
			</div>
		</section>

		<section id="" class="p-about">
			<div class="">
				<h1 class="p-about-title">全日本釣魚連盟関東支部について</h1>
				<p class="p-about-content">あああああ</p>
				<a href="" class="p-about-university">加盟大学一覧</a>
				<a href="" class="p-about-detail">詳しくはこちら</a>
			</div>
		</section>

		<section id="" class="p-Tournament"> 
			<div>
				<h2>大会情報はこちら</h2>
				<TournamentComponent title="タイトル" content="ああああああああ" />
				<TournamentComponent title="タイトル" content="ああああああああ" />
				<TournamentComponent title="タイトル" content="ああああああああ" />
				<p>さらに表示</p>
			</div>
		</section>

		<section id="" class="p-Ivent">
			<div>
				<h2>イベント情報（活動記録）</h2>
				<IventComponent image="path/to/image.jpg" title="タイトル" content="aaaaa"/>
				<IventComponent image="path/to/image.jpg" title="タイトル" content="aaaaa"/>
				<IventComponent image="path/to/image.jpg" title="タイトル" content="aaaaa"/>
				<p>さらに表示</p>
			</div>
		</section>

		<section id="" class="p-Join">

		</section>

		<p>お問合せはこちら</p>
	</main>
</Layout>
