---
// 絶対パスで
// 画像はsrc/pages内の各ディレクトリにimagesフォルダを作成する
import Layout from "../../layouts/Layout.astro";
import "../../scss/styles.scss";
const title = "";
const description = "";
const og_image = "";
---



<Layout title={title} , description={description} og_image={og_image}>
<main>
    <div class="p-Ivent-line-right">
        <div class="p-Ivent-line-right-top"></div>
        <div class="p-Ivent-line-right-middle"></div>
        <div class="p-Ivent-line-right-under"></div>
    </div>

    <div class="p-Ivent-line-left">
        <div class="p-Ivent-line-left-top"></div>
        <div class="p-Ivent-line-left-middle"></div>
        <div class="p-Ivent-line-left-under"></div>
    </div>

    <div class="p-Ivent-line-center-left">
        <div class="p-Ivent-line-center-left-top"></div>
        <div class="p-Ivent-line-center-left-middle"></div>
        <div class="p-Ivent-line-center-left-under"></div>
    </div>

    <div class="p-Ivent-line-center-right">
        <div class="p-Ivent-line-center-right-top"></div>
        <div class="p-Ivent-line-center-right-under"></div>
    </div>

    <div class="p-Ivent-line-bottom-left">
        <div class="p-Ivent-line-bottom-left-top"></div>
        <div class="p-Ivent-line-bottom-left-middle"></div>
        <div class="p-Ivent-line-bottom-left-under"></div>
    </div>

    <div class="p-Ivent-line-bottom-right">
        <div class="p-Ivent-line-bottom-right-top"></div>
        <div class="p-Ivent-line-bottom-right-middle"></div>
        <div class="p-Ivent-line-bottom-right-under"></div>
    </div>

    <section>
        <div class="p-Ivent-main">
            <h1 class="p-Ivent-main-title ">タイトル(イベント情報)</h1>
        </div>
    </section>
    <section>
        <div class="p-Ivent-sentence">
            <p>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ</p>
        </div>
        <div class="p-Ivent-photo-main">
            <img class="p-Ivent-photo-main-img" src="../../../public/assets/hasu_1.jpg" alt="">
        </div>
    </section>
    <section>
        <div class="p-Ivent-sentence">
            <p>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ<br>あ</p>
        </div>
        <div class="p-Ivent-photo-sub">
            <img class="p-Ivent-photo-sub-img" src="../../../public/assets/hasu_1.jpg" alt="">
        </div>
    </section>
</main>
</Layout>