---
const { title, content ,next } = Astro.props;
---

<div class="my-component">
  <h1>{title}</h1>
  <p>{content}</p>
  <a href="{next}">続きを読む>></a>
</div>

<style>
  .my-component {
    gap: 20px;
    border-radius: 5px;
    position: relative;
    width: 900px;
    height: 198px;
  }

  .my-component h1 {
    padding-top: 43px;
    padding-bottom: 60px;
    min-width: 140px;
    height: 62px;
    font-size: 30px;
  }

  .my-component p {
    font-size: 20px;
  }

  .my-component a {
    width: 176px;
    height: 26px;
    color: #33CCFF;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }

    /* レスポンシブ対応 */
    @media (max-width: 768px) {
    .my-component {
      width: 70%; /* 幅を画面いっぱいにする */
      height: auto; /* 高さを自動調整 */
      padding: 10px; /* 内側の余白を追加 */
    }

    .my-component h1 {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 24px; /* フォントサイズを縮小 */
      width: auto; /* 幅を自動調整 */
    }

    .my-component p {
      font-size: 16px; /* フォントサイズを縮小 */
      margin: 10px;
      margin-bottom: 20px;
    }

    .my-component a {
      display: none;
    }
  }
</style>