---
const { title, content } = Astro.props;
---

<div class="my-component">
  <h1>{title}</h1>
  <p class="shortened-text">{content}</p>
  <button class="read-more-btn">続きを読む>></button>
  <button class="close-btn" style="display: none;">閉じる>></button>
</div>

<style>
  .my-component {
    gap: 20px;
    border-radius: 5px;
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  .my-component h1 {
    padding-top: 43px;
    padding-bottom: 20px;
    color: #2589d0;
    font-size: 30px;
  }

  .shortened-text {
    font-size: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 最大3行表示 */
    -webkit-box-orient: vertical;
    line-height: 1.5;
    max-height: calc(1.5em * 3); /* 3行分の高さ */
    margin-bottom: 20px;
    transition: max-height 0.3s ease; /* アニメーション効果 */
  }

  .expanded-text {
    -webkit-line-clamp: unset; /* 制限を解除 */
    overflow: visible; /* はみ出た部分を表示 */
    max-height: none; /* 高さ制限解除 */
  }

  .read-more-btn,
  .close-btn {
    position: absolute;
    color: #33CCFF;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    right: 0px;
    font-size: 18px;
    border: none;
    background: transparent;
  }

  @media screen and (max-width: 768px) {
    .read-more-btn,
  .close-btn {
    display: none;
  }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const readMoreBtn = document.querySelector(".read-more-btn");
    const closeBtn = document.querySelector(".close-btn");
    const textContainer = document.querySelector(".shortened-text");

    readMoreBtn.addEventListener("click", () => {
      textContainer.classList.add("expanded-text");
      readMoreBtn.style.display = "none"; // "続きを読む" ボタンを隠す
      closeBtn.style.display = "inline-block"; // "閉じる" ボタンを表示
    });

    closeBtn.addEventListener("click", () => {
      textContainer.classList.remove("expanded-text");
      readMoreBtn.style.display = "inline-block"; // "続きを読む" ボタンを再表示
      closeBtn.style.display = "none"; // "閉じる" ボタンを隠す
    });
  });
</script>

