---
const { title, content, id } = Astro.props;
---

<div class="tournament-component">
  <h1 class="tournament-component-title">{title}</h1>
  <p class="shortened-text">{content}</p>
  <a class="read-more-btn" href={`/Tournamentdetail/${id}`}>続きを読む>></a>
  <button class="close-btn" style="display: none;">閉じる>></button>
  <hr>
</div>

<style>
  .tournament-component{
    gap: 20px;
    border-radius: 5px;
    width: 80%;
    margin: 20px auto;
  }

  .tournament-component-title{
    font-size: 25px;
  }


  .read-more-btn{
    display: block;
    text-align: right;
    color: #2589d0;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .shortened-text{
    width: 90%;
    margin-left: 10px;
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
  }
  /* .my-component {

  }

  .tournament-component-title {
    padding-top: 43px;
    padding-bottom: 20px;
    color: #2589d0;
    font-size: 30px;
    white-space: nowrap;
  }

  .shortened-text {
    font-size: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    max-height: calc(1.5em * 3); 
    margin-bottom: 20px;
    transition: max-height 0.3s ease; 
  }

  .expanded-text {
    -webkit-line-clamp: unset;
    overflow: visible;
    max-height: none; 
  }

  .read-more-btn,
  .close-btn {
    position: absolute;
    color: #33CCFF;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    right: 0px;
    font-size: 18px;
    border: none;
    background: transparent;
  } */

  @media screen and (max-width: 768px) {
  .close-btn {
    display: none;
  }
  }
</style>

<script>
  // document.addEventListener("DOMContentLoaded", () => {
  //   const readMoreBtn = document.querySelector(".read-more-btn");
  //   const closeBtn = document.querySelector(".close-btn");
  //   const textContainer = document.querySelector(".shortened-text");

  //   readMoreBtn!.addEventListener("click", () => {
  //     textContainer!.classList.add("expanded-text");
  //     readMoreBtn!.style.display = "none"; // "続きを読む" ボタンを隠す
  //     closeBtn!.style.display = "inline-block"; // "閉じる" ボタンを表示
  //   });

  //   closeBtn!.addEventListener("click", () => {
  //     textContainer!.classList.remove("expanded-text");
  //     readMoreBtn!.style.display = "inline-block"; // "続きを読む" ボタンを再表示
  //     closeBtn!.style.display = "none"; // "閉じる" ボタンを隠す
  //   });
  // });
</script>

