---
// 絶対パスで
// 画像はsrc/pages内の各ディレクトリにimagesフォルダを作成する
import Layout from "@/layouts/Layout.astro";
import "../../scss/styles.scss";
const title = "";
const description = "";
const og_image = "";
import TournamentComponent from '../../components/Tournament .astro'
---



<Layout title={title} , description={description} og_image={og_image}>
<main>
    <section id="" class="p-information">
        <h1 class="p-information-title">大会情報</h1>
        <div class="p-information-search">
            <p class="">検索</p>
        </div>
    </section>
    <section id="" class="p-content">
        <div class="p-content-every">
            <div>
                <TournamentComponent title="タイトル" content="ああああああああ" />
            </div>
            <div>
                <TournamentComponent title="タイトル" content="ああああああああ" />
            </div>
            <div>
                <TournamentComponent title="タイトル" content="ああああああああ" />
            </div>
            <div>
                <TournamentComponent title="タイトル" content="ああああああああ" />
            </div>
            <div>
                <TournamentComponent title="タイトル" content="ああああああああ" />
            </div>
            <div>
                <TournamentComponent title="タイトル" content="ああああああああ" />
            </div>
            <div>
                <TournamentComponent title="タイトル" content="ああああああああ" />
            </div>
            <div>
                <TournamentComponent title="タイトル" content="ああああああああ" />
            </div>
            <div>
                <TournamentComponent title="タイトル" content="ああああああああ" />
            </div>
            <div>
                <TournamentComponent title="タイトル" content="ああああああああ" />
            </div>
            <div>
                <TournamentComponent title="タイトル" content="ああああああああ" />
            </div>
        </div>
    </section>
</main>
</Layout>