---
// 絶対パスで
// 画像はsrc/pages内の各ディレクトリにimagesフォルダを作成する
import Layout from "@/layouts/Layout.astro";
import "../../scss/styles.scss";
const title = "";
const description = "";
const og_image = "";
---



<Layout title={title} , description={description} og_image={og_image}>
<main>
    <section>

    </section>


</main>
</Layout>